<footer th:fragment="footer" class="footer">
  <form action="#" method="get">
    <label for="languageSelect" th:text="#{footer.language.choose}"></label>
    <select name="lang" id="languageSelect" class="language-select" onchange="changeLanguage()">
      <option value="en_US"
              th:selected="${#locale.toString()} == 'en'"
              th:text="#{footer.language.english}"></option>
      <option value="bg_BG"
              th:text="#{footer.language.bulgarian}"
              th:selected="${#locale.toString()} == 'bg_BG'"></option>
    </select>
  </form>
  <script src="/js/footer.js"></script>
</footer>
