<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="nav" class="ps-3 pe-3 navbar navbar-expand-lg navbar-light navbar-light-custom">
  <a class="navbar-brand" th:href="@{/}">InvoiceApp</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" th:href="@{/users/login}" th:text="#{nav.login}">Login</a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" th:href="@{/users/register}" th:text="#{nav.register}">Register</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/profile}" th:text="#{nav.profile}">Profile</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/invoices}" th:text="#{nav.my.invoices}">My Invoices</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/clients}" th:text="#{nav.my.clients}">My Clients</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/reports}" th:text="#{nav.my.reports}">My Reports</a>
      </li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" th:href="@{/admin}" th:text="#{nav.admin.panel}">Admin Panel</a>
      </li>
      <li class="nav-item" sec:authorize="isAuthenticated()">
        <form th:method="POST" th:action="@{/users/logout}" class="form-inline">
          <input class="nav-link btn-logout" type="submit" th:value="#{nav.logout}" value="Logout">
        </form>
      </li>
      <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <a class="dropdown-item" th:href="@{/admin/all-users}">Всички Потребители</a>
          <a class="dropdown-item" th:href="@{/admin/all-vehicles}">Всички Превозни Средства</a>
          <a class="dropdown-item" th:href="@{/admin/all-reservations}">Всички Резервации</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</html>