body {
    background: url("/images/global-background.jpg") center center repeat-y;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-light-custom {
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-weight: bold;
    font-size: 22px;
}

.navbar-light-custom .nav-link {
    color: black !important;
    font-size: 18px;
}

.navbar-light-custom .nav-link:hover {
    color: #555 !important;
}

.transparent-bg,
.profile-container,
.invoices-container,
.profile-section,
.form-container,
.invoice-details,
.products-container,
.table-bordered,
.title-block,
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}


.text-center {
    padding: 20px;
}

.text-center.mt-5 h1 {
    font-size: 1.5rem;
}

.form-container,
.invoice-details {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.card-title {
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.form-container .btn {
    display: block;
    width: auto;
    margin: 20px auto 0;
    font-size: 1.2em;
    padding: 10px 20px;
}

.form-container .form-group label,
.card-text {
    font-size: 1.2em;
}

.btn-logout {
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

.table thead th,
.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.btn-sm {
    font-size: 0.75rem;
    padding: 0.20rem 0.5rem;
}

.edit-icon {
    float: right;
    text-decoration: none;
    color: #007bff;
}

.edit-icon:hover {
    color: #0056b3;
}

.footer {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    text-align: center;
}

.footer form {
    display: inline-block;
}

.footer .language-select {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.footer .language-select:hover {
    border-color: #888;
}

.footer .language-select:focus {
    border-color: #555;
}

.error-message {
    font-size: 18px;
    color: #ff0000;
}

.error-message a {
    color: #007bff;
    text-decoration: none;
}

.error-message a:hover {
    text-decoration: underline;
}

.title-block h2 {
    text-align: center;
    margin: 0;
    border-radius: 5px;
}

.table-container {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.push {
    height: 4.2rem;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

.btn-wrapper .btn {
    margin-right: 10px;
}
.custom-button {
    padding: 10px 0;
}