body {
    background-image: url("/images/global-background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-light-custom {
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-weight: bold;
    font-size: 22px;;
}


.navbar-light-custom .nav-link {
    color: black !important;
    font-size: 18px;
}

.navbar-light-custom .nav-link:hover {
    color: #555 !important;
}

.transparent-bg {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}


/*регистрация*/
/* styles.css */

/* Полупрозрачен бял фон за формата */
.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .btn {
    display: block;
    width: auto;
    margin: 20px auto 0 auto;
    font-size: 1.2em;
    padding: 10px 20px;
}

.form-container .form-group label {
    font-size: 1.2em;
}
/*logout*/
.btn-logout {
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*invoice create*/
.table thead th {
    text-align: center;
}

.table tbody td {
    vertical-align: middle;
}

.btn-sm {
    font-size: 0.75rem;
    padding: 0.20rem 0.5rem;
}


/*profile*/
.profile-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.profile-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.edit-icon {
    float: right;
    text-decoration: none;
    color: #007bff;
}

.edit-icon:hover {
    color: #0056b3;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
