<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container mt-5">
  <div class="invoices-container">
    <h1 th:text="#{admin.panel}">Admin Panel</h1>
    <form th:action="@{/admin}" method="get" class="mb-4 mt-3">
      <div class="form-row align-end">
        <div class="col-md-3">
          <div class="form-group">
            <label th:text="#{user.search.companyName}">Company Name</label>
            <input type="text" name="companyName" class="form-control" th:placeholder="#{user.search.companyNamePlaceholder}" th:value="${companyName}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label th:text="#{user.search.eik}">EIK</label>
            <input type="text" name="eik" class="form-control" th:placeholder="#{user.search.eikPlaceholder}" th:value="${eik}">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group btn-wrapper">
            <button type="submit" class="btn btn-primary" th:text="#{user.search.button}">Search</button>
            <a th:href="@{/admin}" class="btn btn-secondary" th:text="#{user.viewAll.button}">View All</a>
          </div>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th th:text="#{user.email}">Email</th>
          <th th:text="#{user.companyName}">Company Name</th>
          <th th:text="#{user.eik}">EIK</th>
          <th th:text="#{user.role}">Role</th>
          <th th:text="#{actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.email}">example@example.com</td>
          <td th:text="${user.companyDetails.companyName}">Company Name</td>
          <td th:text="${user.companyDetails.eik}">123456789</td>
          <td th:text="${user.roles[0].name}">User</td>
          <td>
            <a class="btn btn-sm btn-info" th:href="@{/admin/deleted-invoices(userId=${user.id})}"
               th:text="#{actions.viewDeletedInvoices}">View Deleted Invoices</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${users.hasPrevious()}">
      <a th:href="@{/admin(page=${users.number - 1})}" class="btn btn-secondary">Previous</a>
    </div>
    <div th:if="${users.hasNext()}">
      <a th:href="@{/admin(page=${users.number + 1})}" class="btn btn-secondary">Next</a>
    </div>
  </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
