<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container mt-5">
  <div class="form-container">
    <h2 th:text="#{user.profile.edit.bank.account.header}">Edit Bank Account</h2>
    <form th:action="@{/profile/edit-bank-account/{id}(id=${bankAccount.id})}"
          th:object="${bankAccount}"
          th:method="post">
      <div class="form-group">
        <label for="iban" th:text="#{user.profile.add.bank.account.iban}">IBAN:</label>
        <input
            type="text"
            id="iban"
            name="iban"
            th:field="*{iban}"
            th:errorclass="'is-invalid alert-danger'"
            class="form-control"
            required />
        <small
            th:if="${#fields.hasErrors('iban')}"
            th:errors="*{iban}" class="text-danger">
        </small>
      </div>
      <div class="form-group">
        <label for="bic" th:text="#{user.profile.add.bank.account.bic}">BIC:</label>
        <input
            type="text"
            id="bic"
            name="bic"
            th:field="*{bic}"
            th:errorclass="'is-invalid alert-danger'"
            class="form-control"
            required />
        <small
            th:if="${#fields.hasErrors('bic')}"
            th:errors="*{bic}" class="text-danger">
        </small>
      </div>
      <div class="form-group">
        <label for="currency" th:text="#{user.profile.add.bank.account.currency}">Currency:</label>
        <input
            type="text"
            id="currency"
            name="currency"
            th:field="*{currency}"
            th:errorclass="'is-invalid alert-danger'"
            class="form-control"
            required />
        <small
            th:if="${#fields.hasErrors('currency')}"
            th:errors="*{currency}" class="text-danger">
        </small>
      </div>
      <button type="submit" class="btn btn-primary" th:text="#{user.profile.add.bank.account.save}">Save</button>
    </form>
  </div>
</div>
<div class="push"></div>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>