<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<div class="form-container mt-4">
  <h1 th:text="#{error.header}">Error</h1>
  <p class="error-message">
    <span th:switch="${objectType}">
      <span th:case="'Invoice'" th:text="#{error.message.not.found(#{invoice})}">Invoice was not found!</span>
      <span th:case="'Recipient'" th:text="#{error.message.not.found(#{recipient})}">Recipients not found!</span>
      <span th:case="'Bank account'" th:text="#{error.message.not.found(#{bankAccount})}">Bank account not found!</span>
      <span th:case="'Complany'" th:text="#{error.message.not.found(#{company})}">Company not found!</span>
      <span th:case="*">Unknown object not found!</span>
    </span>
  </p>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
