<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>

<div class="container mt-4">
  <div class="form-container text-center">
    <i class="fas fa-exclamation-triangle text-danger fa-3x"></i>
    <h1 class="text-danger text-capitalize mt-3" th:text="#{error.header}">Error</h1>
    <p class="font-weight-bold" th:text="${errorMessage}"></p>

    <div class="row mt-4">
      <div class="col-md-6 d-flex justify-content-start">
        <button onclick="history.back()" class="btn btn-primary btn-block custom-button" th:text="#{btn.back}">Назад
        </button>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <a href="/" class="btn btn-secondary btn-block custom-button" th:text="#{btn.home}">Начало</a>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
