<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>
<div class="container mt-5">
  <div class="form-container">
    <h2>Create Invoice</h2>
    <form
        th:action="@{/invoices/create}"
        th:method="post"
        id="invoiceForm"
        th:object="${invoiceData}">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="invoiceNumber">Invoice Number:</label>
            <input
                type="text"
                id="invoiceNumber"
                name="invoiceNumber"
                class="form-control"
                th:field="*{invoiceNumber}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('invoiceNumber')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="issueDate">Issue Date:</label>
            <input
                type="date"
                id="issueDate"
                name="issueDate"
                class="form-control"
                th:field="*{issueDate}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('issueDate')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
        </div>
      </div>

      <!-- Supplier and Recipient Details Side by Side -->
      <div class="row">
        <!-- Supplier Details -->
        <div class="col-md-6">
          <h4>Supplier Details</h4>
          <div class="form-group">
            <label for="supplierName">Supplier Name:</label>
            <input type="text" id="supplierName" name="supplier.companyName" class="form-control"
                   th:value="${supplierDetails.companyName}" readonly/>
          </div>
          <div class="form-group">
            <label for="supplierAddress">Supplier Address:</label>
            <input type="text" id="supplierAddress" name="supplier.address" class="form-control"
                   th:value="${supplierDetails.address}" readonly/>
          </div>
          <div class="form-group">
            <label for="supplierEik">Supplier EIK:</label>
            <input type="text" id="supplierEik" name="supplier.eik" class="form-control"
                   th:value="${supplierDetails.eik}" readonly/>
          </div>
          <div class="form-group">
            <label for="supplierVatNumber">Supplier VAT Number:</label>
            <input type="text" id="supplierVatNumber" name="supplier.vatNumber" class="form-control"
                   th:value="${supplierDetails.vatNumber}" readonly/>
          </div>
          <div class="form-group">
            <label for="supplierManager">Supplier Manager:</label>
            <input type="text" id="supplierManager" name="supplier.manager" class="form-control"
                   th:value="${supplierDetails.manager}" readonly/>
          </div>
        </div>

        <!-- Recipient Details -->
        <div class="col-md-6">
          <div th:if="${#fields.hasErrors('recipientDetails')}"
               class="alert alert-danger mt-3" th:text="${#fields.errors('recipientDetails')}"></div>
          <h4>Recipient Details</h4>
          <div class="form-group">
            <label for="recipientName">Recipient Name:</label>
            <input
                type="text"
                id="recipientName"
                name="recipient.companyName"
                class="form-control"
                th:field="*{recipientDetails.companyName}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('recipientDetails.companyName')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
          <div class="form-group">
            <label for="recipientAddress">Recipient Address:</label>
            <input
                type="text"
                id="recipientAddress"
                name="recipient.address"
                class="form-control"
                th:field="*{recipientDetails.address}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('recipientDetails.address')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
          <div class="form-group">
            <label for="recipientEik">Recipient EIK:</label>
            <input
                type="text"
                id="recipientEik"
                name="recipient.eik"
                class="form-control"
                th:field="*{recipientDetails.eik}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('recipientDetails.eik')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
          <div class="form-group">
            <label for="recipientVatNumber">Recipient VAT Number:</label>
            <input
                type="text"
                id="recipientVatNumber"
                name="recipient.vatNumber"
                class="form-control"
                th:field="*{recipientDetails.vatNumber}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('recipientDetails.vatNumber')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
          <div class="form-group">
            <label for="recipientManager">Recipient Manager:</label>
            <input
                type="text"
                id="recipientManager"
                name="recipient.manager"
                class="form-control"
                th:field="*{recipientDetails.manager}"
                th:errorclass="'is-invalid alert-danger'"
                required/>
            <small
                th:each="err : ${#fields.errors('recipientDetails.manager')}"
                th:text="${err}" class="text-danger">
            </small>
          </div>
        </div>
      </div>

      <!-- Invoice Items -->
      <h4>Items</h4>
      <table class="table text-center">
        <thead>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="invoiceItemsContainer">
        <tr th:each="item, iterStat : ${invoiceData.items}">
          <td>
            <input type="text" th:field="*{items[__${iterStat.index}__].name}" placeholder="Item Name" class="form-control" required/>
            <small th:if="${#fields.hasErrors('items[' + iterStat.index + '].name')}" th:errors="*{items[__${iterStat.index}__].name}" class="text-danger"></small>
          </td>
          <td>
            <input type="number" th:field="*{items[__${iterStat.index}__].quantity}" placeholder="Quantity" class="form-control" oninput="calculateTotalPrice(this)" required/>
            <small th:if="${#fields.hasErrors('items[' + iterStat.index + '].quantity')}" th:errors="*{items[__${iterStat.index}__].quantity}" class="text-danger"></small>
          </td>
          <td>
            <input type="number" th:field="*{items[__${iterStat.index}__].unitPrice}" placeholder="Unit Price" class="form-control" oninput="calculateTotalPrice(this)" required/>
            <small th:if="${#fields.hasErrors('items[' + iterStat.index + '].unitPrice')}" th:errors="*{items[__${iterStat.index}__].unitPrice}" class="text-danger"></small>
          </td>
          <td>
            <input type="number" th:field="*{items[__${iterStat.index}__].totalPrice}" placeholder="Total Price" class="form-control" readonly/>
            <small th:if="${#fields.hasErrors('items[' + iterStat.index + '].totalPrice')}" th:errors="*{items[__${iterStat.index}__].totalPrice}" class="text-danger"></small>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" onclick="removeInvoiceItem(this)">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary" onclick="addInvoiceItem()">Add Item</button>

      <!-- Total Amount, VAT, and Amount Due -->
      <div class="row mt-3 justify-content-end">
        <div class="col-md-4">
          <div class="form-group">
            <label for="totalAmount">Total Amount:</label>
            <input type="number" id="totalAmount" name="totalAmount" class="form-control" readonly/>
          </div>
          <div class="form-group">
            <label for="vat">VAT (20%):</label>
            <input type="number" id="vat" name="vat" class="form-control" readonly/>
          </div>
          <div class="form-group">
            <label for="amountDue">Amount Due:</label>
            <input type="number" id="amountDue" name="amountDue" class="form-control" readonly/>
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary">Create Invoice</button>
    </form>
  </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/invoice.js"></script>
</body>
</html>