<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/nav :: nav}"></nav>

<div class="container mt-5">
  <div class="title-block mb-3 d-flex justify-content-between align-items-center">
    <h2 th:text="#{report.result}">Report Results</h2>
    <a th:href="@{/reports/download-pdf(startDate=${reportCriteria.startDate}, endDate=${reportCriteria.endDate})}"
       class="btn btn-success mt-2"
       th:text="#{report.download.pdf}">Download PDF</a>
  </div>

  <div class="invoices-container">
    <div th:if="${reportData.isEmpty()}">
      <p th:text="#{report.no.data}">No data available for the selected period.</p>
    </div>
    <div th:if="${!reportData.isEmpty()}">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th th:text="#{report.item.name}">Item Name</th>
            <th th:text="#{report.item.quantity}">Quantity Sold</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="data : ${reportData}">
            <td th:text="${data.productName}">Item Name</td>
            <td th:text="${data.totalQuantity}">Quantity Sold</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
